body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 812px;
    background-color: #F4C430;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
    position: absolute;
}

.header {
    top: 0;
}

.footer {
    bottom: 5%;
    gap: 70px;
}

.iconhore {
    width: 30px;
    height: 30px;
    background-size: cover;
}

.icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.user {
    background-image: url('img/SVG/SVG/profile.svg');
}

.help {
    background-image: url('img/SVG/questions.svg');
}

.walk {
    background-image: url('img/SVG/clovek.svg');
    opacity: 1;
}

.walky {
    background-image: url('img/SVG/SVG/cloveky.svg');
    opacity: 0;
}

.image-container:hover .walk {
    opacity: 0;
}

.image-container:hover .walky {
    opacity: 1;
}

.badgesw {
    background-image: url('img/SVG/badges.svg');
    opacity: 1;
}

.badgesy {
    background-image: url('img/SVG/SVG/badgesy.svg');
    opacity: 0;
}

.image-container:hover .badgesw {
    opacity: 0;
}

.image-container:hover .badgesy {
    opacity: 1;
}

.trophy {
    background-image: url('img/SVG/leaderboard.svg');
    opacity: 1;
}

.trophyy {
    background-image: url('img/SVG/SVG/leaderboardy.svg');
    opacity: 0;
}

.image-container:hover .trophy {
    opacity: 0;
}

.image-container:hover .trophyy {
    opacity: 1;
}

.inbox {
    background-image: url('img/SVG/SVG/inbox.svg');
    opacity: 1;
}

.inboxy {
    background-image: url('img/SVG/SVG/inboxy.svg');
    opacity: 0;
}

.image-container:hover .inbox {
    opacity: 0;
}

.image-container:hover .inboxy {
    opacity: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    position: relative;
}

.background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url('img/SVG/city.svg') no-repeat center center;
    background-size: cover;
    background-position: 0 0;
    z-index: 0;
    animation: animationbg 25s linear infinite;
}

@keyframes animationbg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.human {
    position: absolute;
    bottom: 42%;
    left: 10%;
    width: 15%;
    animation: animationhuman 2s ease-in-out infinite;
}

@keyframes animationhuman {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.steps {
    position: relative;
    color: white;
    text-align: center;
    z-index: 1;
    padding-top: 350px;
}

.number {
    font-size: 48px;
    font-weight: bold;
}

.text {
    font-size: 24px;
}

.progress-container {
    width: 70%;
    height: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    
}

.progress-bar {
    height: 100%;
    background-color: #d9730d;
    border-radius: 20px 0 0 20px;
    width: 0%;
    transition: width 10s ease;
}
/*.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; 
}*/